@import url('https://fonts.googleapis.com/css2?&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

body{
  width: 100%;
  background-color: var(---background);
  color: #fff;
  overflow-x: hidden;
  position: relative;
}