@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&family=Hahmlet:wght@100&family=Josefin+Slab:wght@500&family=Just+Me+Again+Down+Here&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--thin);
  scroll-behavior: smooth;
}

:root{
  --background: #dcddd8;
  --red: #ce112e;
  --black: #010200;
  --hand: font-family: 'Just Me Again Down Here', cursive;
  --thin: font-family: 'Josefin Slab', serif;
  --funky: font-family: 'Goudy Bookletter 1911', serif;
}
body{
  width: 100%;
  background-color: var(---background);
  color: var(--black);
  overflow-x: hidden;
  position: relative;
}

.black{
  color: var(--black);
}
.red{
  color: var(--red);
}